<ul class="total-counts" *ngIf="VaccinationDATA$">
  <li>Sites Conducting Vaccination
    <p>Total -- {{VaccinationDATA$.topBlock.sites.total | number}}</p>
    <p>Govt -- {{VaccinationDATA$.topBlock.sites.govt | number}}</p>
  </li>
  <li>Total registrations
    <p>Total -- {{VaccinationDATA$.topBlock.registration.total | number}}</p>
    <p>Citizens between 18 and 45 -- {{VaccinationDATA$.topBlock.registration.cit_18_45 | number}}</p>
  </li>
  <li>Total Vaccination Doses
    <p>Total -- {{VaccinationDATA$.topBlock.vaccination.total | number}}</p>
    <p><a routerLink="/vaccination/details">Click here for more details</a></p>
  </li>
</ul>

<div *ngIf="chartData$">
  <app-pie-chart [chartData]='chartData$'></app-pie-chart>
</div>