<h2>Statewise Vaccination Details</h2>
<section class="state-wise-details">
  <div *ngIf="statesInfo">
    <h3>Select State</h3>
    <select (change)="selectedState($event.target)">
      <option value="{{state.id}}" *ngFor="let state of statesInfo"
        >{{state.title}}</option
      >
    </select>

    <ul class="state-info">
      <li>State Name : {{statesInfo[selectedStateId].state_name}}</li>
      <li>State ID : {{statesInfo[selectedStateId].state_id}}</li>
      <li>State Total : {{statesInfo[selectedStateId].total | number}}</li>
      <li>
        Partially Vaccinated : {{statesInfo[selectedStateId].partial_vaccinated
        | number}}
      </li>
      <li>
        Totally Vaccinated : {{statesInfo[selectedStateId].totally_vaccinated |
        number}}
      </li>
      <li>Vaccinated Today : {{statesInfo[selectedStateId].today | number}}</li>
    </ul>
  </div>

  <div *ngIf="distInfo" class="districts">
    <h3>Select District</h3>
    <select (change)="displayDistData($event.target)">
      <option value="{{dist.district_id}}" *ngFor="let dist of distInfo"
        >{{dist.district_name}}</option>
    </select>

    <div *ngFor="let dist1 of distInfo">
      <ul *ngIf="dist1.district_id === selectedDistrict">
        <li>District Name : {{dist1.district_name}}</li>
        <li>District Id : {{dist1.district_id}}</li>
        <li>Total : {{dist1.total | number}}</li>
        <li>Partially Vaccinated : {{dist1.partial_vaccinated | number}}</li>
        <li>Totally Vaccinated : {{dist1.totally_vaccinated | number}}</li>
      </ul>
    </div>
  </div>

</section>