<h1>Please fill out the Feedback Form</h1>
<form #feedbackForm="ngForm" (ngSubmit)="onSubmit()">
  <div class="form-item">
    <label form="name">Name: </label>
    <input type="text" id="name" name="name" [(ngModel)]="model.name" required #name="ngModel"/>
  </div>
  <div class="form-item">
    <label for="email">Email: </label>
    <input type="email" id="email" name="email" [(ngModel)]="model.email" required/>
  </div>
  <div class="form-item">
    <label for="phone-no">Phone Number: </label>
    <input type="tel" id="phone-no" name="phone-no" [(ngModel)]="model.phone_no" required/>
  </div>

  <div class="form-item">
    <label for="rating">How do you like our app: </label>
    <input type="checkbox" id="one-star" value="1" name="one-start"/>
    <input type="checkbox" id="two-star" value="2" name="two-star"/>
    <input type="checkbox" id="three-star" value="3" name="three-star"/>
    <input type="checkbox" id="four-star" value="4" name="four-star"/>
    <input type="checkbox" id="five-star" value="5" name="five-star"/>
  </div>

  <div class="form-item">
    <label for="Reason">Reason: </label>
    <textarea id="reason" name="reason" [(ngModel)]="model.reason" required></textarea>
  </div>

  <button type="submit" >Submit</button>
</form>

{{model.name}}
{{model.reason}}